body{
    background-color: beige; 
}

#login-join{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#login-join>input {
    width:200px;
    margin-top:5px;

}

.hidden {
    display: none;
}


#clock{
    display:flex;
    justify-content: center;
    text-align: center;

}

#greeting {
    display:flex;
    justify-content: center;
    text-align: center;
}


#todo-form {
    display:flex;
    justify-content: center;
    text-align: center;
}